body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
}

.image {
    background-image: url('/Blue\ Yellow\ Certificate.jpg');
    width: 1440px;
    height: 1020px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.name {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 58px;
    margin-top: 543px;
    text-align: center;
    width: 100%;
}

.course {
    text-align: center;
    margin-top: 77px;
    font-size: 28px;
}

.date {
    margin-left: 450px;
    margin-top: 80px;
    font-size: large;
    font-weight: 550;
}